
.Home {
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: var(--grid-template-columns);
    grid-gap: var(--grid-gap);
    padding: 0 var(--padding);
}

.desktopNav, .logo {
    position: fixed;
    left: var(--padding);
}

.logo {
    top: var(--padding);
}

.desktopNav {
    bottom: var(--padding);
}

.desktopNav p {
    color: #8E8E8E;
    cursor: pointer;
}

.veranstaltungen {
    grid-column: 3 / 9;
}

.leftColumn {
    grid-column: 9 / 12;
}

.abschnitt {
    position: relative;
}

.leftColumn, .veranstaltungen {
    padding: 0 0 40vh 0;
    height: calc(100vh);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
    position: relative;
}

.veranstaltungen::-webkit-scrollbar, .leftColumn::-webkit-scrollbar, .paginationScroll::-webkit-scrollbar {
    width: 0px; /* Set scrollbar width to 0 */
    background: transparent; /* Optional: Make the scrollbar background transparent */
}

.paginationScroll {
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
}

.sectionHeader {
    padding: var(--bubble-padding);
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 40px;
}

.abschnitt .sectionHeader{
    padding-bottom: 20px;
    margin-top: 30px;
}

.sectionHeader:first-child {margin-top: 0;}

.introText {
    padding: var(--bubble-padding);
    padding-top: 10px;
    padding-bottom: 15px;
}

.leftColumn img {
    width: 100%;
}

.bubble p {
    margin-bottom: calc(1em * var(--lh));
}

.bubble p:last-child {
    margin-bottom: 0;
}

.indicator {
    margin-top: 0;
    transition: all 0.3s ease;
    position: relative;
    height: calc(1em * var(--lh));
}

.visible .indicator {
    margin-top: calc(1em * var(--lh));
}

.indicator span {
    position: absolute;
    transition: all 0.3s ease;
}

.mehr {
    opacity: 1;
}

.weniger {
    opacity: 0;
    cursor: pointer;
}

.visible .weniger{
    opacity: 1;
}

.visible .mehr {
    opacity:0;
}

.visible .weniger {
    opacity: 1;
}

.episodeLinks {
    margin-bottom: 0 !important;
    margin-top: calc(1em * var(--lh));
}

.episodeLinks a {
    width: 100%;
    display: block;
}


.bubble {
    width: 100%;
    position: relative;
    padding: var(--bubble-padding);
    background-color: var(--lilac);
    border-radius: var(--radius);
    cursor: pointer;
}

.abschnitt .bubble {
    cursor: auto;
}

.veranstaltungen .bubble.visible {
    cursor: auto;
}

.bubble h2 {
    margin: var(--bubble-padding-inner) 0;
    width: 100%;
    text-align: center;
}

.time {
    margin-left: 20px;
}

.cover {
    position: absolute;
    left: var(--bubble-padding);
    width: var(--bubble-padding-inner);
}

 .text, .podcast .hidden {
    width: 100%;
    padding-left: calc(var(--bubble-padding-inner) + 20px);
}

.hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-out;
}

.hiddenWrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visible .hiddenWrapper {
    opacity: 1;
    transition: opacity 0.3s ease 0.25s;
}

.scrollAnchor {
    position: absolute;
    top: calc((1em * var(--lh) + 60px) * (-1));
    left: 0;
}

.abschnitt .scrollAnchor  {
    top: -10px;
}

.scrollAnchor#Veranstaltungen, .scrollAnchor#Podcasts {
    top: 0px;
}

.pagination {
    padding: var(--bubble-padding);
    padding-top: 10px;
    
}

.paginationScroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.pagination span {
    margin-right: calc(1.2em);
    white-space: nowrap;
}

.selected {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.pagination .item {
    cursor: pointer;
}





@media (hover: none) {

    .mode2 .topMenu .indicator {
        opacity: 1;
        transition: opacity 0.3s ease 0.2s;
    }

    .mode1 .bottomMenu .indicator {
        opacity: 1;
        transition: opacity 0.3s ease 0.2s;
    }

    .hover{
        display: none;
    }


}


@media (max-width: 1100px), (orientation: portrait) {

    .page {
        --width: 75vw;
    }

   
}

@media (max-width: 650px){

    .page {
        --width: 85vw;
        --padding-h: 10px;
        --padding-v: 10px;
    }

    .logo {
        width: calc(100vw - var(--padding-v));
    }

    .content {
        left: 0;
        width: calc(100% - var(--padding-h) * 2);
    }

    .topMenu p, .bottomMenu p {
        left: 0;
    }

    .indicator {
        right: var(--padding-h);
    }

    .page a.back {
        left: var(--padding-h);
    }

    .content.legal {
        top: 3em;
        position: relative;
    }
}

@media (max-width: 500px){

    .page {
        --width: 90vw;
    }

    .container {
        top: calc(45vh - var(--height));
    }

}


