.Home {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: var(--grid-template-columns);
    grid-gap: var(--grid-gap);
    padding: 0 var(--padding);
}

.desktopNav, .logo {
    position: fixed;
    left: var(--padding);
}

.mobileNav, .forum, .overlayBottom, .overlay {
    display: none;
}

.logo {
    top: var(--padding);
    height: calc(1em * var(--lh) * 4);
    max-width: 60vw;;
}

.logo img {
    height: 100%;
}

.desktopNav {
    bottom: var(--padding);
}

.desktopNav p {
    color: #8E8E8E;
    cursor: pointer;
}

.veranstaltungen {
    grid-column: 3 / 9;
}

.leftColumn {
    grid-column: 9 / 12;
}

.abschnitt {
    position: relative;
}

.leftColumn, .veranstaltungen {
    padding: 0 0 40vh 0;
    height: calc(100vh);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
    position: relative;
}

.veranstaltungen::-webkit-scrollbar, .leftColumn::-webkit-scrollbar, .paginationScroll::-webkit-scrollbar, .Home::-webkit-scrollbar {
    width: 0px; /* Set scrollbar width to 0 */
    background: transparent; /* Optional: Make the scrollbar background transparent */
}

.paginationScroll, .Home {
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
}

.sectionHeader {
    padding: 0 0 10px var(--bubble-padding-h);
    margin-top: var(--padding);
}

.abschnitt .sectionHeader{
    padding-bottom: 20px;
    margin-top: 30px;
}

.sectionHeader:first-child {margin-top: 0;}

.introText {
    padding: 10px var(--bubble-padding-h) 15px var(--bubble-padding-h);
}

.leftColumn img {
    width: 100%;
}

.bubble p {
    margin-bottom: calc(1em * var(--lh));
}


.bubble p:last-child {
    margin-bottom: 0;
}

.indicator {
    margin-top: 0;
    transition: all 0.3s ease;
    position: relative;
    height: calc(1em * var(--lh));
}

.visible .indicator {
    margin-top: calc(1em * var(--lh));
}

.indicator span {
    position: absolute;
    transition: all 0.3s ease;
}

.mehr {
    opacity: 1;
}

.weniger {
    opacity: 0;
    cursor: pointer;
}

.visible .weniger{
    opacity: 1;
}

.visible .mehr {
    opacity:0;
}

.visible .weniger {
    opacity: 1;
}

.episodeLinks  {
    margin-bottom: 0 !important;
    padding-top: calc(1em * var(--lh));
}

.episodeLinks p {
    margin-bottom: 0;
}


.bubble {
    width: 100%;
    position: relative;
    padding: var(--bubble-padding-v) var(--bubble-padding-h);
    background-color: var(--lilac);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background 0.3s ease-out;
}

.bubble:hover {
    background-color: var(--lilac-hover);
}

.abschnitt .bubble {
    cursor: auto;
}

.veranstaltungen .bubble.visible {
    cursor: auto;
}

.bubble h2 {
    margin: var(--bubble-padding-inner) 0;
    width: 100%;
    text-align: center;
}

.time {
    margin-left: 20px;
}

.cover {
    position: absolute;
    left: var(--bubble-padding-h);
    width: var(--bubble-padding-inner);
}

 .text, .podcast .hidden {
    width: 100%;
    padding-left: calc(var(--bubble-padding-inner) + 20px);
}

.hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.hiddenWrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visible .hiddenWrapper {
    opacity: 1;
    transition: opacity 0.3s ease 0.15s;
}

.scrollAnchor {
    position: absolute;
    top: calc((1em * var(--lh) + var(--padding) + 20px) * (-1));
    left: 0;
}

.abschnitt .scrollAnchor  {
    top: -10px;
}

.scrollAnchor#Veranstaltungen, .scrollAnchor#Podcasts {
    top: 0px;
}

.pagination {
    padding: 10px var(--bubble-padding-h) var(--bubble-padding-v) var(--bubble-padding-h);
}

.paginationScroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.pagination span {
    margin-right: calc(1.2em);
    white-space: nowrap;
}

.selected, .bubble a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.episodeLinks a {
    text-decoration: none;
}

.pagination .item {
    cursor: pointer;
}


@media all and (max-width: 900px){
    .Home {
        display: block;
        padding: 0 10px 50vh 10px;
        position: absolute;
    }

    .desktopNav {
        display: none;
    }

    .forum, .overlayBottom {
        display: block;
    }

    .mobileNav, .overlayBottom {
        display: block;
    }

    .overlayBottom {
        position: fixed;
        width: 100%;
        background-color: white;
        bottom: 0;
        left: 0;
        height: calc(20px + var(--radius));
        z-index: 101;
    }

    .forum {
        position: fixed;
        bottom: 20px;
        left: 10px;
        width: calc(100% - 20px);

        background-color: var(--grey);
        padding: 30px 20px;
        border-radius: var(--radius);
        z-index: 102;
        cursor:pointer;
    }

    .mobileNav {
        position: fixed;
        padding: calc(70px + 1em * var(--lh)) 10px calc(59px + 1em * var(--lh)) 10px;
        bottom: 20px;
        left: 0;
        flex-direction: column-reverse;
        width: 100vw;
        max-width:100%;
        z-index: 100;
        max-height: 100%;
        overflow:scroll;
        display: flex;
        visibility: hidden;
        transition: visibility 0s linear 0.5s;
        cursor:pointer;
        scrollbar-width: none; /* Hides scrollbar for Firefox */
        -ms-overflow-style: none; 
    }

    .mobileNav::-webkit-scrollbar {
        width: 0px; /* Set scrollbar width to 0 */
        background: transparent; /* Optional: Make the scrollbar background transparent */
    }
    

    .mobileNav.active {
        visibility: visible;
        transition: visibility 0s linear 0s;
    }

    .mobileNav .navItem {
        width: 100%;
        background-color: var(--grey);
        padding: 30px 20px;
        border-radius: var(--radius);
        z-index: 101;
        border: 2px solid var(--grey);
    }

    .mobileNav.active .navItem {
        transform: translateY(0);
    }


    .mobileNav p, .forum p {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    .logo {
        position: relative;
        height: calc(1em * var(--lh) * 8);
        top: 0;
        left: var(--bubble-padding-h);
    }

    .logo img {
        height: calc(1em * var(--lh) * 4);
        position: sticky;
        top: var(--padding);
    }

    .veranstaltungen, .leftColumn {
        overflow: unset;
        height: auto;
        padding-bottom: 0;
    }

    .pagination {
        width: 100vw;
        position: relative;
        left: -10px;
        padding: 10px 0 0 0;
    }
    
    .paginationScroll {
        padding-left: calc(var(--bubble-padding-h) + 10px);
        padding-right: 50px;
    }
    
    .pagination span {
        margin-right: calc(1.2em);
        white-space: nowrap;
    }

    .sectionHeader, .abschnitt.first{
        margin-top: 100px;
    }

    .introText {
        padding: 0 var(--bubble-padding-h);
        margin: 30px 0;
    }

    .cover {
        width: 100px;
    }

    .podcast {
        min-height: calc(100px + var(--bubble-padding-v) * 2);
    }

    .text, .podcast .hidden {
        padding-left: calc(100px + 20px);
    }

    .scrollAnchor {
        width: 10px;
        height: 10px;
    }

    .scrollAnchor {
        top: -10px; 
    }
    
    .abschnitt .scrollAnchor  {
        top: -10px;
    }
    
    .veranstaltungen .scrollAnchor, .podcasts.scrollAnchor {
        top: 70px !important;
    }

}


@media (hover: none) {

}


@media (max-width: 1100px), (orientation: portrait) {
   
}




